# add git-ignore syntax here of things you don't want copied into docker image
# source: https://github.com/BretFisher/node-docker-good-defaults/blob/master/.dockerignore

.git
*Dockerfile*
*docker-compose*
node_modules
